@import '../../index.scss';

.transaction-table {
  width: 100%;
  font-weight: $font-weight-light;
  font-size: $font-size-light;

  .-header {
    font-weight: $font-weight-medium;
    font-size: $font-size-medium;
  }

  .-body-row {
    line-height: 20px;
  }
}

.pagination {
  padding: 20px 0px;
  font-weight: $font-weight-light;
  font-size: $font-size-light;

  .-input-page {
    width: 45px;
  }
}

.transaction-table-link,
.transaction-table-link:hover {
  text-decoration: underline;
  color: black;
}

table {
  width: 100%;

  th,
  td {
    margin: 0;
    padding: 0.2rem;
    width: 1%;
  }
}
